.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    font-family: 'Roboto';
    background-color:rgb(230, 228, 241);
    color: #8D6A35;
    font-weight: bold;
    position: absolute;
    width: 343px;
    height: 52px;
    left: 10px;
    top: 375px;
    mix-blend-mode: color-burn;
    border: 1px solid #8D6A35;
    box-sizing: border-box;
    
}

.btn2-primary, .btn2-primary:hover, .btn2-primary:active, .btn2-primary:visited {
    font-family: 'Roboto';
    background-color:rgb(230, 228, 241);
    color: #8D6A35;
    font-weight: bold;
    position: absolute;
    width: 343px;
    height: 52px;
    left: 10px;
    top: 440px;
    mix-blend-mode: color-burn;
    border: 1px solid #8D6A35;
    box-sizing: border-box;
    
}

.btn3-primary, .btn3-primary:hover, .btn3-primary:active, .btn3-primary:visited {
    font-family: 'Roboto';
    background-color:rgb(230, 228, 241);
    color: #8D6A35;
    font-weight: bold;
    position: absolute;
    width: 343px;
    height: 52px;
    left: 10px;
    top: 505px;
    mix-blend-mode: color-burn;
    border: 1px solid #8D6A35;
    box-sizing: border-box;
    
}


/* log da marca */
.Delleitte{
    position: absolute;
    width: 211.71px;
    height: 213px;
    left: 77px;
    top: 44px;
 
}

/* log da Localizacao MPA */
.mapa{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 30px;
    top: 45%;
}

.rodape{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 88%;
    bottom: 13%;
}